[DEFAULT]
debug = True

[communicator]
host = 127.0.0.1
port = 5555

[main]
num_drones = 1

[telemetry]
battery_size = 600
start_location = (53.955843,-1.080043,100)
c2_location = (53.955843,-1.080043,100)

[detection]
data_folder = ./data/

[swarm]
avoidance_radius = 25
aggregation_timeout = 10
critical_avoidance_range = 30
target_radius = 1
detection_radius = 120
radio_radius = 200
drone_timeout = 10
cohesion_degree = 60

[engine]
speed = 8
travel_time = 1

[defects]
leaky_battery = False
