[communicator]
host = 127.0.0.1
port = 5555

[telemetry]
battery_size = 1800
start_location = (53.929472,-1.165084,100)

[detection]
data_folder = ./data/

[swarm]
avoidance_radius = 25
aggregation_timeout = 10
target_radius = 1
detection_radius = 10
radio_radius = 2000

[engine]
speed = 2
travel_time = 1
