[communicator]
host = 127.0.0.1
port = 5555

[telemetry]
battery_size = 1800
start_location = (0,0,0)

[detection]
data_folder = ./data/

[swarm]
avoidance_radius = 25
aggregation_timeout = 10
target_radius = 1
detection_radius = 10

[engine]
speed = 2
travel_time = 1
